/* begin body */
body{
    background-image: url(../images/fruitbackground.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    overflow-x: hidden; /* Hide vertical scrollbar */
}
/* einde body */

/* navbar */
#navbar{
    background-color: #a52019;
    border: 2px solid #000000;
    margin-top: 0px;
    margin-bottom: 2px;
    min-height: 10px;
}


#nav_text_1:hover {
    background-color: #d42920;
    color: black;
}
/* #nav_text_1.active {
    background-color: #d42920;
    color: black;
} */
#nav_text_1{
    color: white;
}

/* slideshow */
.carousel-inner{
    height: 200px;
    border:2px solid #000000;
    border-radius: 60px;
}

#jumbotron{
    /* border: 2px solid black; */
    background-color: transparent;
    text-align: left;
}

/* cards */
.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

.card{
    margin-bottom: 20px;
    margin-top: 20px;
}